# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\My Drive\Drexel\Fall 2022 (202315)\SE 320\Homeworks\HW5\homework-5-rmm429\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
